*{
    margin: 0;
    padding: 0;
}
canvas {
    float: left;
    position: relative;
    border: 3px solid black;
    cursor: crosshair;
}
#parametre{
    float: right;
    position: relative;
    border: 3px solid black;
    width: 251px;
    height: 900px;
}